body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 20px;
}

.filter {
  margin-bottom: 20px;
}

.filterHidden {
  display: none;
}

.filterMessageHidden {
  display: none;
}

.carCard {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

#carGrid {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 3;
  flex-flow: space-between;
  align-items: stretch;
}

.mainContent {
  margin-top: 10px;
  display: flex;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  width: 100%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border: 2px solid gray;
  border-radius: 5px;
}
